ul{
   display: block;
   list-style-type: disc;
}.skin {
   background-color: #ffffff;
   border-radius: 4px;
   color: #444;
   position: relative;
   text-shadow: none;
    margin-left: 13%;
}
div.skillWrap {
   background-repeat: no-repeat;
   border: 3px solid #222;
   height: 400px;
   min-height: 400px;
   width: 330px;}h3 {
   display: block;
   font-weight: bold;
}
   
h3.skillTitle {
   background-color: #222;
   color: #fff;
   padding: 3px;
   font-size: 16px;
   line-height: 25px;
   margin-top: 0px;
   margin-bottom: 0px;
}    
ul.skillTags {
   background-color: #222;
   color: #fff;
   padding: 0px 5px 5px 5px;
   font-size: 12px;
   height: 20px;
   margin-top: 0px;
   margin-bottom: 0px;
}ul.skillTags li {
   display: inline-block;
}ul.skillTags li.skillType {
   border: 1px solid #fff;
   letter-spacing: 1px;
   padding: 1px 3px 0px;
   height: 18px;
   line-height:18px;
}
   
ul.skillTags li.skillTag {
   background-color: #fff;
   border: 1px solid #fff;
   border-radius: 3px;
   color: #000;
   font-size: 12px;
   margin: 1px 1px;
   letter-spacing: 1px;
   padding: 1px 3px 0px;
   height: 18px;
   line-height:18px;
}div.skillTh {
   background-color: #666;
   border: 1px solid #666;
   color: #ffffff;
   display: inline-block;
   margin: 3px -4px 0px 5px;
   min-width: 40px;
   text-align: center;
   font-size: 12px;
   height: 18px;
   line-height:18px;
}div.skillTd {
   border: 1px solid #666;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
   display: inline-block;
   margin: 8px 0 0px 3px;
   min-width: 105px;
   padding: 0 3px;
   font-size: 12px;
   height: 18px;
   line-height:18px;
}p.skillFunction {
   margin: 12px 5px;
   line-height: 16px;
}hr.skillHr {
   border-color: #666;
   border-image: none;
   border-style: dotted none none;
   border-width: 1px medium medium;
   color: #ffffff;
   height: 1px;
   margin: 5px;
}    {
   margin: 0;
   padding: 0;
} 